* {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#showvirus1{
  width:50px;
  height: 50px;
  background: url("red.jpg") no-repeat;
}
#showvirus2{
  width:50px;
  height: 50px;
  background: url("blue.jpg") no-repeat;
}
#showvirus3{
  width:50px;
  height: 50px;
  background: url("green.jpg") no-repeat;
}
